.companyName {
  width: 100%;
  height: 7vh;
  font-size: 6vh;
  font-weight: 800;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #404040;
}

.companyDetails {
  width: 100%;
  height: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* display: grid;
  grid-template-columns: 55% 5% 3% 10% 27%; */
}

.companyDetailsLeft {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.name {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2.5vh;
  font-weight: 500;
  font-style: italic;
  color: #404040;
}

.rate {
  height: 100%;
  margin-left: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2.5vh;
  font-weight: 500;
  font-style: italic;
}

.arrow {
  height: 100%;
  margin-left: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.heart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-weight: 500;
  font-style: italic;
}

.up {
  color: #009528;
}

.down {
  color: #ff0000;
}

.companyDetails div:nth-child(3) img {
  height: 12px;
}

.companyCards {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  width: 24%;
  margin-top: 5px;
  margin-bottom: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #dbdbdb;
  border-radius: 10px;
  overflow-x: hidden;
}

.top {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 17px;
  color: #404040;
  font-weight: 400;
}

.bottom {
  margin-bottom: 5px;
  margin-left: 10px;
  font-size: 40px;
  font-weight: 700;
  color: #404040;
}

.mainContainer {
  width: 100%;
  height: 38vh;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: 70% 30%;
}

.wrapperLeft {
  width: 100%;
}

.wrapperRight {
  width: 100%;
  height: 37vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.graphContainer {
  height: 38vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.graph {
  background-color: #ebebeb;
  width: 100%;
  height: 36vh;
  border-radius: 10px;
}

.formContainer {
  margin-top: 1vh;
  background-color: #ebebeb;
  border-radius: 10px;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
}

.title span:nth-child(1) {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
}

.title span:nth-child(2) {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
}

.input {
  width: 90%;
  height: 70%;
  background: none;
  border: 1px solid #707070;
  border-radius: 10px;
  font-weight: 800;
  text-align: center;
  font-size: 25px;
  outline: none;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
}

.button {
  width: 90%;
  height: 65%;
  font-size: 20px;
  font-weight: 400;
  border: none;
  border-radius: 10px;
  background: #e2e2e2;
  box-shadow: 5px 5px 10px #cbcbcb, -5px -5px 10px #f9f9f9;
}

@media only screen and (max-width: 1440px) {
  .top {
    font-size: 17px;
  }
  .bottom {
    font-size: 1.5rem;
  }
  .title span:nth-child(1) {
    font-size: 1.2rem;
  }
  .title span:nth-child(2) {
    font-size: 0.7rem;
  }
}
