.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  padding-left: 1%;
  padding-right: 1%;
  overflow: hidden;
}

.horizontalWrapper {
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 15px;
  background-color: #e2e2e2;
}
