.wrapper {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mobileWrapper {
  display: none;
}

.logoContainer,
.timerContainer,
.controlsContainer {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logoContainer {
  width: 25%;
}

.timerContainer {
  width: 50%;
  justify-content: center;
}

.controlsContainer {
  width: 25%;
  justify-content: flex-end;
}

.logo {
  height: 50px;
  width: 50px;
}

.timer {
  width: 43px;
  height: 43px;
}

.timerContent {
  margin-left: 10px;
  font-size: 60px;
  cursor: default;
}

.notificationContainer {
  width: 50px;
  height: 50px;
  background-color: #e6e6e6;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userContainer {
  height: 48px;
  width: 48px;
  margin-left: 15px;
  border-radius: 24px;
  border: 2px solid #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.user {
  height: 42px;
  width: 42px;
  border-radius: 21px;
}

.name {
  margin-left: 15px;
  font-size: 23px;
  letter-spacing: 1.14px;
  text-transform: uppercase;
  font-weight: 500;
  cursor: default;
}

.dropDownContainer {
  height: 100%;
  margin-left: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.caret {
  width: 9px;
  height: 5px;
}

.controlsDropdownContainer {
  position: absolute;
  right: 0;
  margin-top: 100px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  clip-path: polygon(0% 10%, 90% 10%, 95% 0%, 100% 10%, 100% 100%, 0% 100%);
}

.controlsDropdownContainer .contentContainer {
  background-color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.controlsDropdownContainer .contentContainer .content {
  background-color: #e2e2e2;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  text-align: right;
}

.content:nth-child(1) {
  margin-top: 15px;
}

.userMobile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    display: none;
  }
  .mobileWrapper {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .timer {
    height: 20px;
  }

  .timerContent {
    margin-left: 0px;
    font-size: 25px;
  }

  .notificationContainer {
    width: 40px;
    height: 40px;
    background: #f6f6f6 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 6px #0000000f;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .notification {
    height: 21px;
    width: 17px;
  }

  .sliderContainer {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #f8f8f8 0% 0% no-repeat padding-box;
    box-shadow: 5px 0px 10px #0000000f;
  }

  .upperContainer {
    background: #efefef 0% 0% no-repeat padding-box;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
  }

  .branding {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .userMobile {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .userContainer {
    margin-left: 0px;
  }

  .logoContainer {
    height: 50px;
    width: 50px;
  }

  .branding > img {
    height: 15px;
    width: 15px;
  }

  .linksContainer {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
  }

  .linksContainer > div:nth-child(1) {
    margin-top: 10%;
  }

  .linksContainer > div {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5%;
  }
}
