.container {
  height: 60vh;
  width: 98%;
  align-self: center;
  display: grid;
  grid-template-columns: 25% 75%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 2%;
  width: 98%;
  justify-self: center;
}
