.container {
  height: 63vh;
  width: 100%;
  align-self: center;
  display: grid;
  grid-template-columns: 25% 75%;
}

.main {
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}
