.container {
  height: 60vh;
  width: 100%;
}

.header {
  margin-left: 10px;
  margin-right: 10px;
  display: grid;
  grid-template-columns: 30% 10% 20% 40%;
  height: 5vh;
}

.header > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  color: #404040;
  text-transform: capitalize;
}

.holdings {
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  height: 55vh;
  overflow-y: auto;
}

.holdingContainer {
  display: grid;
  grid-template-columns: 30% 10% 20% 40%;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #ececec;
}

.holdingContainer > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #404040;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.buySellContainer {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 50% 50%;
}

.transactionContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.transactionContainer input {
  height: 50%;
  width: 40%;
  font-size: 20px;
  border: 1px solid #404040;
  background: none;
  border-radius: 3px;
  text-align: center;
  outline: none;
}

.transactionContainer button {
  width: 50%;
  height: 50%;
  background-color: #e2e2e2;
  box-shadow: 2px 2px 6px #b5b5b5, -2px -2px 6px #ffffff;
  font-size: 10px;
  border: none;
  text-transform: uppercase;
  color: #404040;
  font-weight: 500;
  border-radius: 3px;
  outline: none;
}

.transactionContainer button:active {
  background: #e2e2e2;
  box-shadow: inset 2px 2px 6px #b5b5b5, inset -2px -2px 6px #ffffff;
}

.transactionContainer button:hover {
  cursor: pointer;
}

.searchBarContainer {
  position: absolute;
  right: 0;
  width: 15%;
  margin-right: 25%;
  height: 5vh;
  transform: translateY(-6vh);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.searchBarContainer img {
  cursor: pointer;
  padding-right: 10px;
  height: 20px;
  width: 20px;
}

.searchbar {
  width: 100%;
  height: 3vh;
  border: 2px solid #404040;
  border-radius: 8px;
  background: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.searchbar > input {
  width: 100%;
  height: 100%;
  border: none;
  text-align: right;
  outline: none;
  padding-right: 10px;
  background: none;
}

@media only screen and (max-width: 1440px) {
  .holdingContainer > div {
    font-size: 0.9rem;
  }
  .header > div {
    font-size: 15px;
  }
}

@media only screen and (max-width: 1024px) {
  .holdingContainer > div {
    font-size: 0.6rem;
  }
  .header > div {
    font-size: 10px;
  }
  .holdingContainer {
    height: 30px;
  }
}

.title {
  display: none;
}

@media only screen and (max-width: 768px) {
  .container {
    height: 50vh;
  }

  .title {
    margin-top: 1vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 3vh;
    height: 5vh;
    font-weight: 500;
  }

  .searchBarContainer {
    display: none;
  }

  .header {
    display: none;
  }

  .holdings {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    width: 100%;
    height: 48vh;
  }

  .holdings::-webkit-scrollbar {
    display: none;
  }

  .holdingContainer {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .holdingContainer > div {
    margin-top: 2px;
    font-size: 1rem;
    font-weight: 800;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
  }

  .buySellContainer {
    height: 10%;
  }

  .transactionContainer button {
    height: 4vh;
  }
}
