.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  padding-left: 1%;
  padding-right: 1%;
  overflow: hidden;
}

.hiname {
  display: none;
}

.horizontalWrapper {
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: #202020;
}

.main {
  width: 100%;
  display: grid;
  grid-template-columns: 75% 25%;
}

.childrenContainer {
  height: 70vh;
  display: flex;
  flex-direction: column;
}

.watchlistContainer {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .hiname {
    height: 3vh;
    font-size: 2.5vh;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #bcbcbc;
  }
  .wrapper {
    padding-left: 5%;
    padding-right: 5%;
    background-color: #141414;
  }
  .horizontalWrapper {
    height: 87vh;
    display: flex;
    flex-direction: column;
  }
  .mainContainer {
    border: none;
    border-radius: 0px;
    background: none;
  }
  .watchlistContainer {
    display: none;
  }
}
