.container {
  height: 7vh;
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.mobileContainer {
  display: none;
}

.linkButtons:nth-child(1) {
  margin-left: 10px;
}

.linkButtons,
.active {
  width: 15%;
  margin-right: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  height: 40px;
  border: none;
  border-radius: 10px;
  background: #202020;
  box-shadow: 4px 4px 8px #131313, -4px -4px 8px #2d2d2d;
  outline: none;
  cursor: pointer;
  color: #bcbcbc;
}

.active {
  border-radius: 10px;
  background: #202020;
  box-shadow: inset 4px 4px 8px #131313, inset -4px -4px 8px #2d2d2d;
}

.brokerbtn {
  background-image: linear-gradient(
    90deg,
    rgba(123, 202, 255, 0.2) 50%,
    #202020 51%
  );
}

@media only screen and (max-width: 768px) {
  .container {
    display: none;
  }
  .mobileContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7vh;
    background: #202020;
    border-radius: 20px 20px 0px 0px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
  }
  .mobileContainer > img {
    align-self: center;
    justify-self: center;
    height: 30px;
    width: 30px;
  }

  .activeMobile {
    border: 5px solid #000000;
    border-radius: 20px;
  }
}
