.container {
  height: 66vh;
  width: 95%;
  justify-self: center;
  border-radius: 10px;
  background-color: #1a1a1a;
}

.title {
  height: 10vh;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-style: italic;
  color: #bcbcbc;
}

.items {
  width: 100%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.itemContainer {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin-bottom: 30px;
}

.leftContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nameContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name {
  font-size: 25px;
  font-weight: 500;
  color: #bcbcbc;
}

.heart {
  margin-left: 10px;
  height: 12px;
  width: 13px;
  cursor: pointer;
}

.statContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.up {
  color: #009528;
}

.down {
  color: #c20000;
}

.up,
.down {
  font-weight: 500;
  font-size: 18px;
  height: 100%;
}

.caret {
  width: 12px;
  height: 7px;
}

.rightContainer {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.transactionContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.transactionContainer input {
  height: 40%;
  width: 85%;
  font-size: 20px;
  border: 1px solid #404040;
  color: #bcbcbc;
  background: none;
  border-radius: 3px;
  text-align: center;
  outline: none;
}

.transactionContainer button {
  width: 85%;
  height: 45%;
  background-color: #1a1a1a;
  box-shadow: 2px 2px 6px #0d0d0d, -2px -2px 6px #272727;
  font-size: 10px;
  border: none;
  text-transform: uppercase;
  color: #404040;
  font-weight: 500;
  border-radius: 3px;
  outline: none;
  color: #bcbcbc;
}

.transactionContainer button:active {
  box-shadow: inset 2px 2px 6px #0d0d0d, inset -2px -2px 6px #272727;
}

.transactionContainer button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1440px) {
  .up,
  .down {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1024px) {
  .up,
  .down {
    font-size: 8px;
  }
  .caret {
    width: 11px;
    height: 6px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    display: none;
  }
}
