.wrapper {
  height: 15vh;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
}

.blockContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-color: #141414;
}

.top {
  font-size: 4vh;
  margin-right: 15px;
  font-weight: 600;
  text-align: right;
  color: #e2e2e2;
}

.bottom {
  font-weight: 300;
  font-size: 3vh;
  padding-right: 15px;
  text-align: right;
  color: #e2e2e2;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
    margin-top: 1vh;
    height: 20vh;
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 1vh;
    row-gap: 1vh;
  }
  .blockContainer {
    width: 100%;
    padding: 0px;
  }
  .card {
    align-items: flex-start;
    padding-left: 10px;
    background-color: #000000;
  }
  .top {
    margin: 0px;
    text-align: left;
    font-size: 3vh;
  }
  .bottom {
    margin: 0px;
    text-align: left;
    font-size: 2vh;
  }
}
