.container {
  height: 60vh;
  width: 100%;
  overflow-y: auto;
}

.container::-webkit-scrollbar {
  width: 4px;
  border-radius: 2px;
}

.container::-webkit-scrollbar-track {
  background: #d1d1d1;
  border-radius: 2px;
}

.container::-webkit-scrollbar-thumb {
  background: #ababab;
  border-radius: 2px;
}

.newsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #1a1a1a;
  border-radius: 10px;
  margin-bottom: 10px;
}

.newsContainer:nth-child(1) {
  margin-top: 10px;
}

.newsTitle {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.newsTitle span:nth-child(1) {
  font-size: 25px;
  font-weight: 500;
  font-style: italic;
  color: #bcbcbc;
  padding-right: 10px;
}

.newsTitle span:nth-child(2) {
  height: 100%;
  font-size: 15px;
  color: #bcbcbc;
}

.divider {
  width: 50%;
  height: 1px;
  background-color: #707070;
  margin-top: 10px;
  margin-bottom: 10px;
}

.content {
  text-align: justify;
  color: #bcbcbc;
}

.title {
  display: none;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 63vh;
  color: #bcbcbc;
}

.loading > h3 {
  margin-bottom: 3vh;
}

@media only screen and (max-width: 768px) {
  .container {
    height: 50vh;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
  }
  .container::-webkit-scrollbar {
    display: none;
  }

  .title {
    margin-top: 1vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 3vh;
    height: 5vh;
    font-weight: 500;
    color: #bcbcbc;
  }

  .newsContainer {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    border-radius: 6px;
  }

  .newsTitle {
    flex-direction: column-reverse;
    flex: 1;
  }

  .newsTitle span:nth-child(1) {
    width: 98%;
    font-size: 19px;
    font-style: normal;
    flex: 1;
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .newsTitle span:nth-child(2) {
    width: 98%;
    margin-left: 10px;
    font-size: 13px;
    flex: 0.5;
    margin-top: 10px;
  }

  .divider {
    display: none;
  }

  .content {
    display: none;
  }
}
